html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #222;
}

#particles-js{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgroundwae.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

.tabcontent {
    display: none;
    padding: 45px 35px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    padding-bottom: 240px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.sidenav a img {
    border: 0px;
    width: 200px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding:0px;
    position: relative;
    min-height: 100%;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container-fluid, .navbar,.header,.footer{
    padding:0px;
    margin:0px;
}

.item img{
    width: auto;
}

.thumbnail{
    border:0;
    padding-left: 25px;
    padding-right: 25px;
}

#openbutton{
    width: 33px;
    top: 10px;
    left: 10px;
    position: sticky;
}

.cont-info{
    background-color: #FFFFFF;
}

.img-circle{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.staffer{
    position: relative;
    width: 100%;
    padding: 75px 25px 75px 25px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #999998;
}

.staffer:hover .overlay {
    opacity: 1;
}

.overlaytext {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.overlaytext a, a:focus, a:hover {
    color:#ffffff;
}

.logo{
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	max-width: 100%;
    height: auto;
    text-align: center;
}

.logo a , .banner {
    width: 100%;
}

.cont-about{
    padding:50px 0px;
}

.cont-about img{
    height: auto;
    max-width: 100%;
}

.about-text {
    padding: 0px 20px;
}

.info{
    padding:10px;
    margin:0;
    text-align: center;
    border: 0;
}
.thumbnail li{
    list-style: none;
    font-size: 12pt;
    line-height: 25px;
}
.thumbnail ul{
    padding: 0;
}

.thumbnail .ic {
    font-size: 64pt;
}

.banner {
    padding-left: 20%;
}

.about{
    text-align: center;
    padding: 15px 0px;
    color: #ffffff;
    margin:auto;

}

.about-info{
    text-align: center;
    padding: 15px 0px;
    color: #333333;
    margin:auto;
}

.navbar-left i{
    font-size: 10pt;
    
}
.navbar-right a{
    font-size: 18pt;
    display:block;
    width:50px;
    height:50px;
    float:left;
    transition: all .3s;
}

nav a:hover{
    
    color: #9b9b9b;
    transition: all .3s;
}

.cont-footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.footer{
    padding: 10px 30px;
    color:#3d3d3d;
    text-align: center;
}

.footer a{
    font-size:50px;
    color:#4c4c4c;
    margin:0 10px;
    width:50px;
    height:50px;
    transition: all .3s;
}

.footer a:hover{
    
    color: #9b9b9b;
    transition: all .3s;
}

#openbutton span {
    color:#818181;
    font-size:45px;
    cursor:pointer;
    padding-left: 5px;
    z-index: 10;
}