//Variable
$color-white: #f2f2f2;
$color-dark: #222;
$color-blue: #04c2ff;
@mixin light-bg {
  background-color: #f2f2f2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='674' height='561.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  color: $color-dark;
}
@mixin dark-bg {
  background-color: #222222;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='736' height='368' viewBox='0 0 160 80'%3E%3Cg fill='%23262626' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
  color: $color-white;
}
//Base styles

body {
  background: $color-dark;
  color: $color-white;
  place-items: center;
  text-align: center;
  font: 1rem 'Nunito', sans-serif;
  overflow-x: hidden;
  transform-style: flat;
}

.discord-widget,
h1,
h2,
h3 {
  font-family: 'Russo One', sans-serif;
}

h1,
h2,
h3,
h5,
h6,
img,
li,
p,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #aaa;
}

ul {
  list-style: none;
  padding-top: 0.5rem;
}

.lead {
  font-size: 1.2rem;
}

.spacer {
  height: 2rem;
  width: 100%;
}

.section {
  @include dark-bg;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 72rem) 1fr;
  place-items: center;
  padding: 5rem 0;
  grid-gap: 1rem;

  > * {
    grid-column: 2;
  }
}
//Banner
.banner {
  background: $color-dark url('../svg/background.svg') center / cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  height: 25.5vw;
  z-index: -1;
  padding-top: 0.5vw;

  > img {
    animation: scroll 60s linear infinite;
    width: 10vw;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: grid;
    place-items: center;
  }

  h1 {
    font-size: 3vw;
  }
}

.banner-logo {
  height: 12vw;
}

.typewriter {
  position: absolute;
  bottom: 2vw;

  h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    text-shadow: 0 0 0.1em #000;
  }
}
/* Background scroll */
@keyframes scroll {
  from {
    transform: translateX(550%);
  }

  to {
    transform: translateX(-550%);
  }
}
//About section

.about {
  margin-top: 26vw;
  box-shadow: -5rem 0 3rem rgba(0,0,0,.75);
  border-top: solid $color-blue 0.5rem;

  span {
    text-decoration: line-through;
  }
}
//Social section

.social {
  @include light-bg;

  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  a {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
    position: relative;

    &:hover img {
      transform: scale(1.2);
    }

    &:hover .outer-ring img {
      opacity: 0.2;
      transform: scale(3);
      filter: drop-shadow($color-blue 0 0 .5rem);
    }

    &:hover .inner-ring img {
      opacity: 0.1;
      transform: scale(2);
      filter: drop-shadow($color-blue 0 0 .5rem);
    }

    &:hover .text {
      transform: translateY(0.5rem);
    }
  }

  img {
    height: 5rem;
    transition: all 0.5s ease;
  }

  .text {
    transition: all 0.5s ease;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.inner-ring,
.outer-ring {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;

  img {
    width: 100%;
    opacity: 0;
  }
}

.outer-ring img {
  transition: all 1s ease;
}

.inner-ring img {
  transition: all 0.5s ease;
}
//Member section

.member-category {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  place-items: center;
  padding: 1rem 0;

  h2 {
    padding: 0 2rem;
  }

  .line {
    background: #04c2ff;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.5rem;
  }
}

.member-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 1rem;
  width: 100%;
  padding-bottom: 5rem;
}

.member-item {
  position: relative;

  > img {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
  }

  .member-holisti {
    color: #aaa;
  }

  .fab-special {
    color: $color-white;
  }
}

.member-tooltip {
  @include dark-bg;
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: -1rem;
  border: rgba(255,255,255,.15) solid 1px;
  box-shadow: 0 0 1rem rgba(0,0,0,.5);
  opacity: 0;
  transition: all 1s;

  p {
    padding-bottom: 0.5rem;
  }

  p::after,
  p::before {
    content: '\22';
    color: #aaa;
  }

  .member-socials {
    border-top: solid rgba(255,255,255,.15) 1px;
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.videocontent {
  @include light-bg;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  grid-gap: 1rem;
  padding: 5rem 5%;

  .content {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr minmax(auto, 60rem) 1fr;
    padding-top: 1rem;
  }

  .content > * {
    grid-column: 2;
  }
}

.videoframe {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 0 3rem rgba(0,0,0,.5);

  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.holistit {
  background: #6953ac;
  color: $color-white;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 1rem;

  > * {
    width: 100%;
  }

  .left {
    background: $color-white url('../img/holisti-discord.jpg') left top / cover;
    height: 100%;
    position: relative;
    border-left: solid #6953ac 1rem;
  }

  .left:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, transparent, #6953ac);
  }

  .content,
  .right {
    padding: 5rem 1rem;
  }

  .right {
    img {
      width: 6rem;
    }
  }
}

.footer {
  @include dark-bg;
  padding: 3rem 1rem;

  .grey {
    color: #aaa;
  }
}
//Discord Widget

.discord-widget {
  background: #2C2F33;
  border-radius: 0.5rem;
  box-shadow: 0 0 3rem rgba(0,0,0,.5);
  display: inline-grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  place-items: center;
  position: fixed;
  right: 2rem;
  top: 1rem;
  width: 16rem;
  z-index: 10;

  img {
    width: 2.5rem;
  }

  h6 {
    color: #aaa;
    font-size: 1.5em;
  }

  .btn {
    background: #7289DA;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all ease 0.1s;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      transform: translateY(-.05rem);
    }
  }

  .online {
    background: #23272A;
    border-radius: 0.5rem;
    color: #aaa;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    width: 100%;
    grid-column: 1 / 3;
  }

  .online span {
    transition: opacity 1s ease;
  }

  .discord-icon {
    height: 3rem;
  }

  .spacer {
    padding: 0 0.5rem;
  }

  .count {
    color: #fff;
  }

  .show {
    bottom: -1rem;
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-0.5rem);
    }

    100% {
      transform: translateY(0);
    }
  }
}
@media (max-width: 50rem) {
  h1 {
    font-size: 3rem;
  }

  .social-icons {
    flex-direction: column;
  }

  .section {
    padding: 3rem 1rem;
  }
}
@media (max-width: 72rem) {
  .typewriter {
    display: none;
  }

  .banner {
    > img {
      display: none;
    }
  }

  .banner-logo {
    height: 20vw;
  }

  .discord-widget {
    display: none;
  }
}
@media (min-width: 46rem) {
  .holistit {
    display: grid;
  }

  .member-item:hover .member-tooltip {
    opacity: 1;
    top: -3rem;
  }
}
@media (min-width: 60rem) {
  .videocontent {
    display: grid;

    .content {
      padding-top: 0;
    }
  }
}
