---
import Image from 'astro-imagetools';
import Icon from '../../icon.astro';

export interface Props {
  name: string;
  role: string;
  imageName: string;
  links?: {
    youtube?: string;
    twitch?: string;
  };
}

const { name, role, imageName, links} = Astro.props as Props;
---

<div class="creator bg-gray-800 flex gap-4 pr-4 drop-shadow-md border-l-4 border-accent rounded-sm">
  <Image
    src={"/src/images/avatars/" + imageName}
    alt=""
   />
  <div class="flex justify-center flex-col">
    <h5>{name}</h5>
    <p class="text-gray-500 whitespace-nowrap">{role}</p>
  </div>
  <div class="ml-auto flex items-center">
    {links.twitch == null ? "" : () => {
      return (
        <a href={links.twitch} class="hover:bg-accent h-16 rounded-sm">
          <Icon icon="twitch" style="brands" />
        </a>
      )
    }}
    {links.youtube == null ? "" : () => {
      return (
        <a href={links.youtube} class="hover:bg-accent h-16 rounded-sm">
          <Icon icon="youtube" style="brands" />
        </a>
      )
    }}
  </div>
</div>

<style is:global>
  .creator picture {
    width: 6rem;
    flex-shrink: 0;
  }
</style>
