---
import Container from '../../container.astro';
import Creator from './creator.astro';

import { BackgroundImage } from 'astro-imagetools/components';

const creators = [
  {
    name: "J0P",
    role: "kahviholisti",
    imageName: "95869431216881664.webp",
    links: {
      youtube: "https://youtube.com/c/J0PVid/join"
    }
  },
  {
    name: "J3-RMU",
    role: "alkoholisti",
    imageName: "95886487882567680.webp",
    links: {
      twitch: "https://twitch.tv/j3_rmu/subscribe"
    }
  },
  {
    name: "Joona",
    role: "honey boo boo",
    imageName: "277030763956928513.webp",
    links: {
      twitch: "https://twitch.tv/jjoona/subscribe"
    }
  },
  {
    name: "Juizzi",
    role: "conkeholisti",
    imageName: "99874548991672320.webp",
    links: {
      twitch: "https://twitch.tv/juizzizen/subscribe",
      //youtube: "https://youtube.com/c/Juizzizen/join"
    }
  },
  {
    name: "Nipde",
    role: "absoholisti",
    imageName: "95899798749605888.webp",
    links: {
      twitch: "https://twitch.tv/nipde/subscribe"
    }
  },
];
---
<BackgroundImage
  src="/src/images/section-backgrounds/holisti.png"
  backgroundSize="cover"
  backgroundPosition="top left"
  attributes={{
    container: {
      class: "px-4 py-16",
      id: "holisti"
    }
  }}
>
  <Container classes="col-2 sm:flex-row-reverse flex flex-col sm:flex-row gap-8">
    <!-- Text content -->
    <div class="flex justify-center text-center flex-col bg-gray-800 p-8 rounded-sm my-auto shadow-md border-accent border-b-4">
      <h1 class="section-header">Holistit</h1>
      <p>Holisti on rooli kaikille niille ketkä tukevat meitä tavalla tai toisella! Holistiroolilla saat auki uusia "Holisti-exclusive" kanavia Discord-palvelimellamme sekä pääsyn Holistien Minecraft-palvelimille. Tämän lisäksi Holistit pääsevät aika ajoin vaikuttamaan yhteisömme ja palvelimemme kehitykseen ja Vuoden töhö -äänestykseen!</p>
      <p>Helpoin ja suorin tapa tukea WAEverything-yhteisöä on <a class="text-accent" href="https://www.twitch.tv/waeverything/subscribe">tilata WAE:n Twitch-kanava</a>!</p>
    </div>

    <!-- Creators -->
    <div class="flex flex-col gap-4 w-full">
      {creators.map(creator => (
        <Creator
          name={creator.name}
          role={creator.role}
          imageName={creator.imageName}
          links={creator.links}
        />
      ))}
    </div>
  </Container>
</BackgroundImage>
