@use '../abstracts/' as *;

.card {
    background: $clr-darker;
    box-shadow: $box-shadow;
    border: $border;
    display: grid;

    .btn {
        display: block;
    }
}

.card-content {
    padding: .5rem;
}

.card-title {
    width: 100%;
    background: $clr-dark;
}