@use '../abstracts' as *;

$flip-animation-duration: 1s;
$box-width: 20rem;
$box-height: 4rem;

.discord-widget {
    backface-visibility: hidden;
    display: none;
    position: absolute;
    width: 20em;
    height: 4em;
    perspective: 40em;
    filter: drop-shadow(.2rem .2rem .5rem rgba(0, 0, 0, .25));
    top: 2rem;
    right: 2rem;
    z-index: 1;

    &:hover {
        .box-wrapper {
            transform: rotateX(-90deg);
        }

        .up {
            filter: brightness(1);
        }
    }

    .box-wrapper {
        position: absolute;
        transition: transform $flip-animation-duration;
        transform-style: preserve-3d;
    }

    .box-wrapper {
        height: 100%;
        width: 100%;
    }

    .front,
    .down,
    .up {
        align-items: center;
        backface-visibility: hidden;
        background: $clr-darker;
        box-sizing: border-box;
        display: flex;
        height: $box-height;
        overflow: hidden;
        position: absolute;
        width: $box-width;
        justify-content: center;
    }
    
    .discord-logo {
        animation: breath 15s infinite;
        height: $box-height * 0.8;
        padding: 0 .5rem;
    }
    
    &.show {
        .box-wrapper {
            transform: rotateX(90deg);
        }

        .down {
            filter: brightness(1);
        }
    }

    .up, .down {
        transition: filter $flip-animation-duration;
        left: 0;
        top: 0;
    }
    
    .front {
        //z-index: 1;
        transform: rotateY(0deg) translateZ(2em);

        .text {
            flex-grow: 1;
            font-weight: bold;
            font-size: 1.25rem;

            span {
                color: $clr-primary;
                text-transform: uppercase;
            }
        }
    }
    
    .down {
        transform: rotateX(-90deg) translateZ(2em);
        filter: brightness(0.75);

        .text {
            font-weight: bold;
            font-size: 1.25rem;

            span {
                color: $clr-white;
                padding-left: 0.5ch;
            }
        }
    }

    .up {
        transform: rotateX(90deg) translateZ(2em);
        filter: brightness(1.25);
        padding: 0 .5rem;
    } 
}

@keyframes breath {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.8);
    }

    20% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@media(min-width:68rem) {
    .discord-widget {
        display: inline-block;
    }
}