:root {
    --color-accent: #04c2ff;

    color-scheme: dark light;
    accent-color: var(--color-accent);
}

html {
    position: relative;
}

body {
    font-family: sans-serif;
    max-width: 96rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

img {
    max-width: 100%;
}

article, footer {
    margin-block: 5rem;
}

article img {
    max-height: 24rem;
}

footer {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.dickbutt {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 8rem;
}