:root {
    color-scheme: dark light;
    accent-color: #04c2ff;
}

body {
    font-family: sans-serif;
    max-width: 96rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

article {
    margin-block: 5rem;

    & img {
        max-height: 24rem;
    }
}

footer {
    text-align: center;
    padding-block: 5rem;
}

img {
    max-width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
}