$color-white: #f2f2f2;
$color-dark: #262626;
$color-blue: #04c2ff;

$background-size: 10rem;

body {
  place-items: center;
  text-align: center;
  font: 1rem 'Nunito', sans-serif;
  overflow-x: hidden;
  transform-style: flat;
  color: #f2f2f2;
  background-image: url("../img/textures/spruce_planks.jpg");
  background-size: $background-size;
}

h1,
h2,
h3,
h5,
h6,
img,
li,
p,
ul {
  padding: 0;
  margin: 0;
}

p {
  padding-bottom: 1rem;
}

h2,
h3,
p.lead {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
}

p.lead {
  font-size: 1.2rem;
}

h1 {
  font-family: Minecrafter;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  padding-top: 3rem;
}

h3 {
  font-size: 2rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    color: $color-blue;
  }
}

table {
  text-align: left;

  td:nth-child(odd) {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    padding-right: 1rem;
  }
}

ul {
  text-align: left;
}

.link-light {
  color: $color-white;
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr minmax(auto, 38rem) 1fr;
  padding: 5rem 2rem 2rem 2rem;

  > * {
    grid-column: 2;
  }
}

.webp .banner {
  background-image: url("../img/banner_background.webp");
}

.no-webp .banner {
  background-image: url("../img/banner_background.jpg");
}

.banner {
  background-position: center;
  background-size: cover;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  .back {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-family: Minecrafter;
  }

  .minecraft {
    text-transform: uppercase;
    font-family: MinecrafterAlt;
    font-size: 3em;
    color: $color-white;
    text-shadow: 0.01em 0.01em 0.01em $color-dark, 0.01em 0.02em 0.01em $color-dark, 0.01em 0.03em 0.01em $color-dark, 0.01em 0.04em 0.01em $color-dark, 0.01em 0.05em 0.01em $color-dark, 0.01em 0.06em 0.01em $color-dark, 0.01em 0.07em 0.01em $color-dark, 0.01em 0.08em 0.01em $color-dark, 0.01em 0.09em 0.01em $color-dark, 0.01em 0.010em 0.01em $color-dark, 0.01em 0.018em 0.06em rgba(16,16,16,0.4), 0.01em 0.022em 0.010em rgba(16,16,16,0.2), 0.01em 0.025em 0.035em rgba(16,16,16,0.2), 0.01em 0.030em 0.060em rgba(16,16,16,0.4);
  }

  iframe {
    width: 100%;
    max-width: 36rem;
    height: 6rem;
  }
}

.navbar {
  background: url("../img/textures/grass_side.jpg") center / contain;
  font-family: Minecrafter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-shadow: 0.2em 0.2em 3em rgba(0,0,0,.75);
  box-shadow: 0 0 2rem rgba(0,0,0,.75);
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-flow: row wrap;

  a {
    font-size: 1.5rem;
    padding: .5rem;
    margin: 0 1vw -.4rem 1vw;
  }

  .prison::after {
    content: "Soon";
    position: absolute;
    font-size: 1rem;
    padding-left: .2rem;
  }
}

.category-header {
  width: 100%;
  text-align: left;
  border-bottom: solid 0.5rem $color-white;
}

.showcase {
  grid-gap: 1rem;
  padding-bottom: 0;
  margin-bottom: -2rem;

  .item {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
    padding-top: 3rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }

  img {
    //border: solid #f2f2f2 .4rem;
    border-radius: 0.2rem;
    box-shadow: 1rem 1rem 4rem rgba(0,0,0,.6);
    transform: rotate(-3deg);
  }
}

.container.info {
  background-image: url("../img/textures/dirt.jpg");
  background-size: $background-size;
}

.container.creative {
  background-image: url("../img/textures/wool_colored_cyan.jpg");
  background-size: $background-size;
}

.footer {
  background-image: url("../img/textures/bedrock.jpg");
  background-size: $background-size;
}
@font-face {
  font-family: Minecrafter;
  src: url("/fonts/MinecrafterReg.woff2");
}
@font-face {
  font-family: MinecrafterAlt;
  src: url("/fonts/MinecrafterAlt.woff2");
}
@media(min-width: 42rem) {
  .banner .minecraft {
    font-size: 6rem;
  }
}
@media(min-width: 86rem) {
  .banner .minecraft {
    font-size: 8rem;
  }

  .container {
    grid-template-columns: 1fr minmax(auto, 86rem) 1fr;
  }

  .showcase .item {
    display: grid;
  }
}
