@use 'abstracts' as *;

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 5rem 0;
}

.container {
    //margin-inline: auto; - Does not work on mobile :c
    margin: 0 auto;
    width: min(90%, 70.5rem);
}

#holistit {
    background: url('../images/backgrounds/holisti-bg.png') center top / cover;
}

#discord {
    background: url('../images/backgrounds/discord-bg.png') top left / cover;

    .discord-logo {
        width: min(100%, 24rem);
    }
}