<header>
  <div class="max-w-screen-lg mx-auto py-32 px-4">
    <img src="/images/wae-logo+wordmark.svg" alt="">
  </div>
</header>

<style lang="scss">
  header {
    background: url('/images/banner/background.svg') center / cover;
  }
</style>
