---
import Container from './container.astro';
---
<footer class="text-center px-4 py-16 text-gray-500 bg-gray-800">
  <Container>
    <a class="text-white" href="mailto:contact@wae.fi">contact@wae.fi</a>
    <p>Copyright {new Date().getFullYear()} - <a class="text-white" href="https://fabianadrian.fi">Fabian Adrian</a></p>
  </Container>
</footer>
