---
export interface Props {
  style?: string;
  icon: string;
}

const { style = "solid", icon } = Astro.props as Props;
---

<div class="h-16 w-16 flex items-center justify-center text-2xl">
  <i class={'fa-' + style + ' fa-' + icon}></i>
</div>
