---
import Icon from "astro-icon";

export interface Props {
  style?: string;
  icon: string;
}

const { style = "solid", icon } = Astro.props as Props;
---

<div class="h-16 w-16 p-4 flex items-center justify-center">
  <Icon pack={`fa-${style}`} name={icon} />
</div>
