---
import Container from '../container.astro';
---

<section id="discord" class="px-4 py-16">
  <Container classes="flex flex-col md:flex-row gap-8">
    <div class="flex flex-col justify-center bg-gray-800 p-8 rounded-sm my-auto shadow-md border-accent border-b-4">
      <h1 class="section-header">Discord</h1>
      <p>Tervetuloa tänne matalaan majaamme ottamaan yliannostus kaikkea siistiä ja jännää! We Accidentally Everything on videopeli-, sisällöntuotanto-, ja/tai nörttiyhteisö just sulle (lue: just sinä lukija), jos tykkäät rankasta geimistä ja dänkeistä meemeistä! Tuu mukaan toimintaan liittymällä jäseneksi meidän Discordiin! Kannattaa hypätä matalalla kynnyksellä juttuun mukaan - sitä ei ikinä tiedäkään mitä päädyt tekemään kolmelta aamuyöstä äänikannuilla... Kyl sä tiiät miten tää menee - discord piste geegee kautta wae!</p>
      <p>Psst, muista lukasta säännöt ennen postailua - ne ei oo pitkät!</p>
    
      <p><a class="text-accent" href="https://discord.gg/wae">Liity Discordiin painamalla tästä!</a></p>
    </div>

    <iframe class="h-96 shadow-md" src="https://discord.com/widget?id=95873997861834752&theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </Container>
</section>

<style lang="scss">
  section {
    background: url('/images/backgrounds/section/discord.jpg') center / cover;
  }
</style>
