---
import Container from '../../container.astro';
import Server from './server.astro';

const servers = [
  {
    name: "Avoin palvelin",
    description: "Yksinkertainen Minecraft palvelin kaikkien käyttöön, jossa rokkaa Creative ja Survival pelimuodot.",
    ip: "wae.fi",
    imageName: "minecraft-public.png",
  },
  {
    name: "Holisti palvelin",
    description: "Suljettu Minecraft palvelin Holisti roolin omaaville. Hyvin lähellä Vanilla Minecraftia.",
    ip: "wae.fi:25566",
    imageName: "minecraft-snapshot.png",
  },
  {
    name: "Snapshot palvelin",
    description: "Testaa (melkein) uusimpia Minecraftin Snapshot-versioita. Suottaa olla päällä, suottaa olla olemattakin, vain Holisteille!",
    ip: "wae.fi:25567",
    imageName: "minecraft-snapshot.png",
  }
]
---

<section id="servers" class="px-4 py-16">
  <Container>
    <h1 class="section-header">Palvelimet</h1>
    <div class="bg-gray-800 p-4 rounded-sm mb-4 border-accent border-b-4 shadow-md">
      <h2 class="text-xl">Minecraft</h2>
    </div>
    <!-- Minecraft servers -->
    <div class="flex flex-col sm:flex-row gap-4 flex-wrap justify-center">
      {servers.map(item => (
        <Server
          imageName={item.imageName}
          name={item.name}
          description={item.description}
          ip={item.ip}
        />
      ))}
    </div>
  </Container>
</section>
